<%- include('partials/header.ejs') %>
<p>Hi, Welcom to my Blog. This blog is dedicated to books that I have personally read and I have mentioned what I have like about them.</p>
</div>

<p class="lead mb-0"><a class="" href="/new">Add a note for new book +</a>

<!-- <a href="#" class="text-body-emphasis fw-bold">Continue reading...</a> -->
<div class="d-flex ">
    <p class="lead">Sort by</p>
    <a class="btn" href="/sort?by=ratings">Ratings </a>
    <a class="btn" href="/sort?by=latest">Latest</a>
</div>

<% for(let book of bookInfo){%>
    <div class="col-md-12">
        <div class="row g-0 book-card rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-auto col-lg-3 d-flex justify-content-center py-4">
                <img class="thumbnail" src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg?default=false" alt="" height="300">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2"><%= book.genre %></strong>
                <h3 class="mb-0"><%= book.title %></h3>
                <div class="mb-1"><small>Reviewed on: <%= book.created_on.substring(0,10) %></small></div>
                <div class="mb-1"><small>How strongly I recommend: <%= book.rating %>/10</small></div>
                <p class="card-text mb-auto">
                    <% if (book.description) { %>
                        <% if (book.description.length > 400) {%> 
                            <%= book.description.substring(0,400) %>...
                        <% } else { %>
                            <%= book.description %>
                        <% } %>
                    <% } %>
                </p>
                <!-- <form action="/review" id="myNotes" method="post">
                    <button type="submit" name="noteId" value="<%# book.id %>" class="btn btn-link icon-link gap-1 icon-link-hover">My notes</button>
                </form> -->
                <a class="" href="/review/<%= book.id %>">My notes</a>
            </div>
        </div>
    </div>
<% } %>

<%- include('partials/footer.ejs') %>