<%- include('partials/header.ejs') %>
</div>
<div class="col-md-10">
    <div class="row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <% if(book) { %>
        <!-- Edit button -->
        <div class="d-flex">
            <button id="editBtn" class="edit btn btn-link" onclick="editHandler()">Edit</button>
        </div>

        <!-- Delete button -->
        <!-- <form action="/delete/<%# book.id %>" method="post">
            <div>
                <button name="deleteBtn" value="<%# book.id %>" class="edit btn btn-link" hidden="true">Delete</button>
            </div>
        </form> -->

        <!-- New note form -->
        
            <!-- Thumbnail image -->
            <div class="col-auto col-lg-3 align-items-center justify-content-center">
                <img class="thumbnail review" src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg?default=false" alt="">
                <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            </div>
             
            <div class="col p-4 d-flex flex-column position-static">
                <!-- Genre text input -->
                <div class="d-flex">
                    <form action="/update/<%= book.id %>" method="post">
                    <strong class="d-inline-block mb-2"><input type="text" id="editGenre" class="" name="genre" value="<%= book.genre %>" autocomplete="off" autofocus="true" hidden="true"></strong>
                    <span id="existingGenre"><strong class="d-inline-block mb-2"><%= book.genre %></strong></span>
                        <button id="doneBtnGenre" class="edit btn" type="submit" hidden="true">
                            <img class="icon" height="20px" src="/assets/icons/check-solid.svg" alt="tick image">
                        </button>
                    </form>
                    <button id="editBtnGenre" class="edit btn" onclick="handler('genre')" hidden="true">
                        <img class="icon" height="20px" src="/assets/icons/pencil-solid.svg" alt="pencil image">
                    </button>
                </div>
                
                <!-- Title text input -->
                <div class="d-flex">
                    <form action="/update/<%= book.id %>" method="post">
                    <h3 class="mb-2 d-inline-block"><input type="text" id="editTitle" class="" name="title" value="<%= book.title %>" autocomplete="off" autofocus="true" hidden="true"></h3>
                    <h3 class="mb-0" id="existingTitle"><%= book.title %></h3>
                        <button id="doneBtnTitle<%#item.id%>" class="edit btn" type="submit" hidden="true">
                            <img class="icon" height="20px" src="/assets/icons/check-solid.svg" alt="tick image">
                        </button>
                    </form>
                    <button id="editBtnTitle<%#item.id%>" class="edit btn" onclick="handler('title')" hidden="true">
                        <img class="icon" height="20px" src="/assets/icons/pencil-solid.svg" alt="pencil image">
                    </button>
                </div>

                <!-- Date fetched from db -->
                <small>Reviewed on: <%= book.created_on.substring(0,10) %></small>

                <!-- Ratings integer input -->
                <div class="d-flex">
                    <form action="/update/<%= book.id %>" method="post">
                    <small class="mb-1" id="editRatings" hidden="true">How strongly I recommend: <input type="number" class="" name="rating" value="<%= book.rating %>" autocomplete="off" autofocus="true"></small>
                    <small class="mb-1" id="existingRatings">How strongly I recommend: <%= book.rating %>/10</small>
                        <button id="doneBtnRatings<%#item.id%>" class="edit btn" type="submit" hidden="true">
                            <img class="icon" height="20px" src="/assets/icons/check-solid.svg" alt="tick image">
                        </button>
                    </form>
                    <button id="editBtnRatings<%#item.id%>" class="edit btn" onclick="handler('ratings')" hidden="true">
                        <img class="icon" height="20px" src="/assets/icons/pencil-solid.svg" alt="pencil image">
                    </button>
                </div>

                <!-- Description textarea input -->
                <div class="">
                    <strong>About this book:</strong>
                    <button id="editBtnDescription" class="edit btn" onclick="handler('description')" hidden="true">
                        <img class="icon" height="20px" src="/assets/icons/pencil-solid.svg" alt="pencil image">
                    </button>
                    <form action="/update/<%= book.id %>" method="post">
                        <button id="doneBtnDescription" class="edit btn" type="submit" hidden="true">
                            <img class="icon" height="20px" src="/assets/icons/check-solid.svg" alt="tick image">
                        </button>
                        <p class="card-text mb-auto"><textarea class="" name="description" id="editDescription" rows="5" hidden="true"><%= book.description %></textarea></p>
                            <% if (book.description) { %>
                                    <p class="card-text mb-auto" id="existingDescription1">
                                        <%= book.description.substring(0,400) %>...
                                    </p>
                                    <p class="card-text mb-auto" id="existingDescription2" hidden="true">
                                        <%= book.description %>
                                    </p>
                                    <a href="#existingDescription2" onclick="readMore()" id="readMoreBtn">Read more</a>
                            <% } %>
                    </form>
                </div>
            </div>

            <!-- Note textarea -->
            <div class="row">
                <div class="col p-4 d-flex flex-column">
                    <h3>My notes</h3>
                    <button id="editBtnReview" class="edit btn text-start" onclick="handler('review')" hidden="true">
                        <img class="icon" height="20px" src="/assets/icons/pencil-solid.svg" alt="pencil image">
                    </button>
                    <div class="">
                        <form action="/update/<%= book.id %>" method="post">
                            <button id="doneBtnReview" class="edit btn" type="submit" hidden="true">
                                <img class="icon" height="20px" src="/assets/icons/check-solid.svg" alt="tick image">
                            </button>
                            <p class="card-text mb-auto"><textarea class="" name="note" id="editReview" rows="5" hidden="true"><%= book.note %></textarea></p>
                            <div class="card-body" id="existingReview">
                                <p class="card-text mb-auto"><%= book.note %></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <% } %>  
        <a id="deleteBtn" class="edit btn btn-link text-start" href="/delete/<%= book.id %>" name="deleteBtn" hidden="true">Delete</a>        
    </div>        
</div>

<script>
    function handler(element) {
        switch (element) {
            case 'genre':
                document.getElementById("editGenre").removeAttribute("hidden");
                document.getElementById("doneBtnGenre").removeAttribute("hidden");
                document.getElementById("existingGenre").setAttribute("hidden", true);
                document.getElementById("editBtnGenre").setAttribute("hidden", true);
            break;
            case 'title':
                document.getElementById("editTitle").removeAttribute("hidden");
                document.getElementById("doneBtnTitle").removeAttribute("hidden");
                document.getElementById("existingTitle").setAttribute("hidden", true);
                document.getElementById("editBtnTitle").setAttribute("hidden", true);
            break;
            case 'ratings':
                document.getElementById("editRatings").removeAttribute("hidden");
                document.getElementById("doneBtnRatings").removeAttribute("hidden");
                document.getElementById("existingRatings").setAttribute("hidden", true);
                document.getElementById("editBtnRatings").setAttribute("hidden", true);
            break;
            case 'description':
                document.getElementById("editDescription").removeAttribute("hidden");
                document.getElementById("doneBtnDescription").removeAttribute("hidden");
                document.getElementById("existingDescription").setAttribute("hidden", true);
                document.getElementById("editBtnDescription").setAttribute("hidden", true);
            break;
            case 'review':
                document.getElementById("editReview").removeAttribute("hidden");
                document.getElementById("doneBtnReview").removeAttribute("hidden");
                document.getElementById("existingReview").setAttribute("hidden", true);
                document.getElementById("editBtnReview").setAttribute("hidden", true);
            break;
        
            default:
                document.getElementById("editBtn").setAttribute("hidden", true);
            break;
        }
    }

    function editHandler() {
        document.getElementById("editBtnGenre").removeAttribute("hidden");
        document.getElementById("editBtnTitle").removeAttribute("hidden");
        document.getElementById("editBtnRatings").removeAttribute("hidden");
        document.getElementById("editBtnDescription").removeAttribute("hidden");
        document.getElementById("editBtnReview").removeAttribute("hidden");
        document.getElementById("deleteBtn").removeAttribute("hidden");
        document.getElementById("editBtn").setAttribute("hidden", true);
    }

    function readMore() { 
    const para1 = document.getElementById('existingDescription1'); 
    const para2 = document.getElementById('existingDescription2');
    const btn = document.getElementById('readMoreBtn');
    
    if (para2.getAttribute("hidden")) {
        para1.setAttribute("hidden", true);
        para2.removeAttribute("hidden");
        btn.innerHTML = "Read less";
    } else {
        para2.setAttribute("hidden", true);
        para1.removeAttribute("hidden");
        btn.innerHTML = "Read more";
    }
}
</script>

<%- include('partials/footer.ejs') %>