<%- include('partials/header.ejs') %>
<div class="col-md-10">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto col-lg-3 d-flex justify-content-center">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
            <div class="d-flex">
                <strong class="d-inline-block mb-2 text-primary-emphasis"><input type="text" id="editGenre" class="form-control" name="updatedGenre" value="<%= genre %>" autocomplete="off" autofocus="true" hidden="true"></strong>
                <span id="existingGenre"><strong class="d-inline-block mb-2 text-primary-emphasis"><%= genre %></strong></span>
                <button id="doneBtnGenre<%#item.id%>" class="edit btn" type="submit" hidden="true">
                    <img class="icon" height="20px" src="/assets/icons/check-solid.svg" alt="tick image">
                </button>
                <button id="editBtnGenre<%#item.id%>" class="edit btn" onclick="handler('<%#item.id%>')" hidden="true">
                    <img class="icon" height="20px" src="/assets/icons/pencil-solid.svg" alt="pencil image">
                </button>
            </div>
            <div class="d-flex">
                <form action="" method="post">
                    <h3 class="mb-2 d-inline-block"><input type="text" id="editTitle" class="form-control" name="updatedTitle" value="<%= bookTitle %>" autocomplete="off" autofocus="true" hidden="true"></h3>
                    <h3 class="mb-0" id="existingTitle"><%= bookTitle %></h3>
                    <button id="doneBtnTitle<%#item.id%>" class="edit btn" type="submit" hidden="true">
                        <img class="icon" height="20px" src="/assets/icons/check-solid.svg" alt="tick image">
                    </button>
                </form>
                <button id="editBtnTitle<%#item.id%>" class="edit btn" onclick="handler('<%#item.id%>')" hidden="true">
                    <img class="icon" height="20px" src="/assets/icons/pencil-solid.svg" alt="pencil image">
                </button>
            </div>

            <div class="mb-1 text-body-secondary">Reviewed on: <%= timestamp %></div>

            <div class="d-flex">
                <div class="mb-1 text-body-secondary" id="editRatings" hidden="true">How strongly I recommend: <input type="number" class="form-control" name="updatedRatings" value="<%= bookRatings %>" autocomplete="off" autofocus="true"></div>
                <div class="mb-1 text-body-secondary" id="existingRatings">How strongly I recommend: <%= bookRatings %>/10</div>
                <button id="doneBtnRatings<%#item.id%>" class="edit btn" type="submit" hidden="true">
                    <img class="icon" height="20px" src="/assets/icons/check-solid.svg" alt="tick image">
                </button>
                <button id="editBtnRatings<%#item.id%>" class="edit btn" onclick="handler('<%#item.id%>')" hidden="true">
                    <img class="icon" height="20px" src="/assets/icons/pencil-solid.svg" alt="pencil image">
                </button>
            </div>

            <div class="">
                <p class="card-text mb-auto"><textarea class="form-control" name="updatedDescription" id="editDescription" hidden="true"><%= bookDescription %></textarea></p>
                <p class="card-text mb-auto" id="existingDescription"><%= bookDescription %></p>
                <button id="doneBtnDescription<%#item.id%>" class="edit btn" type="submit" hidden="true">
                    <img class="icon" height="20px" src="/assets/icons/check-solid.svg" alt="tick image">
                </button>
                <button id="editBtnDescription<%#item.id%>" class="edit btn" onclick="handler('<%#item.id%>')" hidden="true">
                    <img class="icon" height="20px" src="/assets/icons/pencil-solid.svg" alt="pencil image">
                </button>
            </div>
            
        </div>
        <div class="card">
            <div class="d-flex">
                <textarea class="form-control" name="updatedReview" id="editReview" hidden="true" rows="3"><%= bookReview %></textarea>
                <div class="card-body" id="existingReview">
                    <%= bookReview %>
                </div>
                <button id="doneBtnReview<%#item.id%>" class="edit btn" type="submit" hidden="true">
                    <img class="icon" height="20px" src="/assets/icons/check-solid.svg" alt="tick image">
                </button>
                <button id="editBtnReview<%#item.id%>" class="edit btn" onclick="handler('<%#item.id%>')" hidden="true">
                    <img class="icon" height="20px" src="/assets/icons/pencil-solid.svg" alt="pencil image">
                </button>
            </div>
        </div>          
    </div>        
</div>

<script>
    function handler(params) {
        document.getElementById("editGenre").removeAttribute("hidden");
        document.getElementById("doneBtnGenre").removeAttribute("hidden");
        document.getElementById("existingGenre").setAttribute("hidden", true);
        document.getElementById("editBtnGenre").setAttribute("hidden", true);

        document.getElementById("editTitle").removeAttribute("hidden");
        document.getElementById("doneBtnTitle").removeAttribute("hidden");
        document.getElementById("existingTitle").setAttribute("hidden", true);
        document.getElementById("editBtnTitle").setAttribute("hidden", true);

        document.getElementById("editRatings").removeAttribute("hidden");
        document.getElementById("doneBtnRatings").removeAttribute("hidden");
        document.getElementById("existingRatings").setAttribute("hidden", true);
        document.getElementById("editBtnRatings").setAttribute("hidden", true);

        document.getElementById("editDescription").removeAttribute("hidden");
        document.getElementById("doneBtnDescription").removeAttribute("hidden");
        document.getElementById("existingDescription").setAttribute("hidden", true);
        document.getElementById("editBtnDescription").setAttribute("hidden", true);

        document.getElementById("editReview").removeAttribute("hidden");
        document.getElementById("doneBtnReview").removeAttribute("hidden");
        document.getElementById("existingReview").setAttribute("hidden", true);
        document.getElementById("editBtnReview").setAttribute("hidden", true);

    }
</script>

<%- include('partials/footer.ejs') %>